@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.App {
  display: flex;
  font-family: Raleway;
}

button {
  font-family: Raleway;
  font-size: 1rem;
}

.colored {
  background-color: #D35050;
  height: 100px;
}